<% layout("/layouts/boilerplate") %>

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-8">
      <div id="filters" class="d-flex overflow-auto gap-3 py-2 px-3 rounded">
        <div class="filter">
          <i class="fa-solid fa-fire"></i>
          <p>Trending</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-bed"></i>
          <p>Rooms</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-mountain-city"></i>
          <p>Iconic Cities</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-mountain-sun"></i>
          <p>Mountains</p>
        </div>
        <div class="filter">
          <i class="fa-brands fa-fort-awesome"></i>
          <p>Castles</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-person-swimming"></i>
          <p>Pools</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-tents"></i>
          <p>Camping</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-cow"></i>
          <p>Farms</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-snowman"></i>
          <p>Arctic</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-igloo"></i>
          <p>Domes</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-sailboat"></i>
          <p>Boats</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div
        class="tax_toggle p-3 d-flex align-items-center justify-content-center mt-4"
      >
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="switchCheckDefault"
          />
          <label class="form-check-label ms-2" for="switchCheckDefault">
            Display total after taxes
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2">
  <% for(listing of allListings){ %>
  <a href="/listings/<%=listing._id%>" class="listing-link">
    <div class="listing-card col card">
      <img
        src="<%=listing.image.url%>"
        class="card-img-top"
        alt="listing.image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%=listing.title%></b>
          <br />
          &#8377; <%=listing.price.toLocaleString("en-IN")%> / Night
          <span class="tax-info">&nbsp; +18% GST</span>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
